body {
  background-image: url(background.jpg);
  background-size: contain;
  background-repeat: none;
  background-attachment: fixed;
}
.jumbotron {
  box-shadow: 5px 5px 10px black;
}
.card {
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  box-shadow: 5px 5px 10px black;
}
