<div class="jumbotron">
    <h1 class="display-4">New York Times World News Scraper</h1>
    <hr class="my-4">
    <a class="btn btn-danger btn-lg" role="button">Home</a>
    <a class="btn btn-danger btn-lg" href="saved" role="button">Saved Articles</a>
    <a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape</a>
    <a class="btn btn-danger btn-lg" href="/clear" role="button">Clear</a>
</div>
<div id="mainCont" class="container-fluid">
    <div id="articles">
        {{#each data}}
        {{> cards/card-block}}
        {{/each}}
    </div>
    <div id="notes"></div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
</div>