<div class="jumbotron">
    <h1 class="display-4">New York Times World News Scraper</h1>
    <hr class="my-4">
    <a class="btn btn-danger btn-lg" role="button">Home</a>
    <a class="btn btn-danger btn-lg" role="button">Saved Articles</a>
    <a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape</a>
    <a class="btn btn-danger btn-lg" role="button">Clear</a>
</div>
<div id="mainCont" class="container-fluid">
    <div id="articles">
        {{!-- {{data}} --}}
        {{#each data}}
            {{> cards/card-block}}
        {{/each}}
        {{!-- {{> cards/card-block}} --}}
    </div>
    <div id="notes"></div>
</div>