{{> jumbotron/jumbotron-block}}
<div id="mainCont" class="container-fluid">
    <div id="articles">
        {{#each data}}
        {{> cards/card-block}}
        {{/each}}
    </div>
    {{> modal/modal-block}}
</div>