{{> jumbotron/jumbotron-block}}
{{#unless data}}
<div id="noArticles">
    <h2 id="mainHeader">You have no saved articles.
        <a id="navBtn" class="dropdown-item" href="/" role="button">Go to all articles</a>
        <a id="navBtn" class="dropdown-item" href="/notearchive" role="button">Go to note archive</a>
    </h2>
</div>
{{/unless}}
{{#each data}}
{{#if saved}}
{{> cards/card-block}}
{{/if}}
{{/each}}