<div class="jumbotron">
  <h1 style="  text-shadow: 5px 5px 10px black; font-family: 'Montserrat Subrayada', sans-serif;" class="display-4">New York Times World News Scraper</h1>
  <hr class="my-4">
  {{!-- <a id="navBtn" class="btn btn-danger btn-lg" href="/" role="button">Home</a>
    <a id="navBtn" class="btn btn-danger btn-lg" href="/saved" role="button">Saved Articles</a>
    <a id="navBtn" class="btn btn-danger btn-lg" href="/notearchive" role="button">Note Archive</a>
    <a id="navBtn" class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape</a>
    <a id="navBtn" class="btn btn-danger btn-lg" href="/clear" role="button">Clear</a>  --}}
  <div class="btn-group">
    <button id="optionsBtn" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ---
    </button>
    <div class="dropdown-menu">
      <a id="navBtn" class="dropdown-item" href="/" role="button">Home</a>
      <a id="navBtn" class="dropdown-item" href="/saved" role="button">Saved Articles</a>
      <a id="navBtn" class="dropdown-item" href="/notearchive" role="button">Note Archive</a>
      <a id="navBtn" class="dropdown-item" href="/scrape" role="button">Scrape New Articles</a>
      <a id="navBtn" class="dropdown-item" href="/clear" role="button">Clear Current Articles</a>
    </div>
  </div>
</div>