<div class="card">
  <div class="card-body">
    <h5 class="card-title"><h3>Title:</h3> {{this.title}}</h5>
    <p class="card-text"><h3>Summary:</h3>{{this.summary}}</p>
  <p><a href="{{this.link}}" class="btn btn-danger">Link</a></p>
  <a href="/" class="btn btn-danger">Save Article</a>
  </div>
</div>