<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Title: {{this.title}}</h5>
    <p class="card-text">Summary:{{this.summary}}</p>
  <p>Link:<a href="{{this.link}}" class="btn btn-primary">Go somewhere</a></p>
  </div>
</div>